
.card__popup {
  position: absolute;
  background: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #000;
  padding: 0 12px 0 12px;
  border-radius: 10px;
  max-width: 50%;
  height: 40px;
  top: 24px;
  right: 69px;
  opacity: 0;
}

@media screen and (max-width: 1023px) {
  .card__popup {
    top: 8px;
    right: 53px;
  }
}

@media screen and (max-width: 767px) {
  .card__popup {
    top: 16px;
    right: 61px;
  }
}