@import url(./__title/saved-articles__title.css);
@import url(./__subtitle/saved-articles__subtitle.css);
@import url(./__keyword/saved-articles__keyword.css);

.saved-articles {
  background-color: white;
  padding: 40px 104px 56px 104px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .saved-articles {
    padding: 24px 40px 32px 40px;
  }
}

@media screen and (max-width: 767px) {
  .saved-articles {
    padding: 16px 16px 32px 16px;
  }
}
