@import url(./__commit-card/carousel__commit-card.css);
@import url(./__commit-date/carousel__commit-date.css);
@import url(./__commit-email/carousel__commit-email.css);
@import url(./__commit-image/carousel__commit-image.css);
@import url(./__commit-name/carousel__commit-name.css);
@import url(./__commit-person/carousel__commit-person.css);
@import url(./__commit-text/carousel__commit-text.css);
@import url(./__carousel-cell/carousel__carousel-cell.css);
@import url(./__button/carousel__button.css);
.carousel {
  background: #F5F6F7;
}

/* smaller, dark, rounded square */

.flickity-button {
  position: absolute;
  background-color: black;
  border: none;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1023px) {
  .flickity-button {
    display: none;
  }
}

.flickity-button:hover {
  background: #2F71E5;
}

.flickity-prev-next-button {
  top: 40%;
  width: 40px;
  height: 40px;
}

/* icon color */

.flickity-button-icon {
  fill: white;
}

/* position outside */

.flickity-prev-next-button.previous {
  left: 24px;
}

.flickity-prev-next-button.next {
  right: 24px;
}

/* position dots in carousel */

.flickity-page-dots {
  position: relative;
  margin-top: 48px;
  bottom: 0px;
}

/* white circles */

.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: #D1D2D6;
}

/* fill-in selected dot */

.flickity-page-dots .dot.is-selected {
  background: rgb(0, 0, 0);
}