.commits__link {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #1A1B22;
    text-align: right;
    padding-top: 14px;
    width: 20%;
}

.commits__link:hover {
    color: #696969;
}

.commits__link:active {
    color: black;
}

@media screen and (max-width: 1279px) {
    .commits__link {
        padding-top: 16px;
        width: 30%;
    }
}

@media screen and (max-width: 1023px) {
    .commits__link {
        padding-top: 8px;
        width: 39%;
    }
}

@media screen and (max-width: 600px) {
    .commits__link {
        text-align: left;
        padding-top: 16px;
        width: 50%;
    }
}

@media screen and (max-width: 479px) {
    .commits__link {
        width: 75%;
    }
}

@media screen and (max-width: 424px) {
    .commits__link {
        display: none;
    }
}