.footer__menu-button a {
  font-family: Roboto;
  font-size: 1.12rem;
  margin-right: 40px;
  color: black;
  text-decoration: none;
}

.footer__menu-button:last-of-type a {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  .footer__menu-button a {
    margin-right: 25px;
  }
}

@media screen and (max-width: 767px) {
  .footer__menu-button a {
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer__menu-button:last-of-type a {
    margin-bottom: 0;
  }
}
