@import url(./_add/card__icon_add.css);
@import url(./_delete/card__icon_delete.css);

.card__icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/icons/card-icons/general.svg);
  cursor: pointer;
}

.card__icon:hover {
  background-image: url(../../../images/icons/card-icons/hovered.svg);
}

.card__icon:hover ~ .card__popup {
  opacity: 1;
  transition: .5s;
}

@media screen and (max-width: 1023px) {
  .card__icon {
    top: 8px;
    right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .card__icon {
    top: 16px;
    right: 16px;
  }
}