@import url("./__container/commits__container.css");
@import url("./__link/commits__link.css");
@import url("./__title/commits__title.css");
@import url("./__pointer/commits__pointer.css");

.commits {
    width: 100%;
    margin: 0;
    background: #F5F6F7;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

@media screen and (max-width: 1023px) {
    .commits {
        padding-top: 40px;
    }
}

@media screen and (max-width: 424px) {
    .commits {
        padding-top: 32px;
    }
}