
.menu__logo {
  color: white;
  text-decoration: none;
  font-family: "Roboto Slab";
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  align-self: center;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .menu__logo {
    font-size: 16px;
  }
}

.menu__logo.menu__logo_black {
  color: black;
}